/*import Bai Jamjuree font from google*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* breakpoints to ensure resonsiveness across different screen sizes.*/

$brown: #7d5647;
$tint: #000000;
/*universal properties to be used across the page*/
:root {
  --black: #19191e;
  --white: #fff0e6;
  --brown: #7d5647;
  --tint: #141414a1;
  --font-size: 16px;
  --golden-ratio: 1.618;
  /*to ensure consistent an uniform distribution of font sizes*/
  --text-shadow: 3px 3px 5px #141414;
}
/* universal styles that apply to all elements*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
  font-family: "Bai Jamjuree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* row and column classes that can be re-used universally across the DOM for easier arrangement of elements */
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

h1 {
  text-transform: capitalize;
  font-size: calc(var(--font-size) * var(--golden-ratio) * var(--golden-ratio));
  font-weight: 700;
}

h2 {
  text-transform: capitalize;
  font-size: calc(var(--font-size) * var(--golden-ratio));
  font-weight: 500;
}

a,
button,
p {
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 1.4);
  font-weight: 400;
}
a {
  text-transform: capitalize;
  text-decoration: none;
}
.button,
button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: $brown;
  color: var(--white);
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  font-weight: 400;
  &:hover {
    background-color: darken($brown, 5%);
  }
}

html {
  width: 100vw;
  height: 100%;
  overflow: hidden;

  .body {
    height: 100%;
    width: 100%;
    padding: 16px 16px;
    // padding-bottom: 0;
    overflow: hidden;
    background-color: var(--white);

    justify-content: flex-start;
    position: relative;

    .header {
      width: 100%;
      align-items: last baseline;
      justify-content: space-between;

      img {
        height: 36px;
      }
      #menuButton {
        display: none;
        cursor: pointer;
      }
      nav {
        height: 100%;
        gap: 48px;
        #closeMenu {
          display: none;
        }
        .activeLink {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          &::after {
            position: absolute;
            content: "";
            height: 5px;
            width: 30%;
            bottom: -35%;
            background-color: var(--black);
            border-radius: 8px;
          }
        }
      }
      @media (max-width: 768px) {
        img {
          height: 24px;
        }
        #menuButton {
          display: block;
        }
        nav {
          display: none;
          .activeLink {
            &::after {
              background-color: var(--white);
            }
          }
        }
        .openMenu {
          display: flex;
          position: absolute;
          flex-direction: column;
          width: 100vw;
          height: 100vh;
          left: 0;
          top: 0;
          z-index: 2;
          background-color: var(--black);
          justify-content: center;
          padding-bottom: 25vh;
          gap: 48px;
          a {
            color: var(--white);
            font-size: calc(var(--font-size) * var(--golden-ratio));
            font-weight: 100;
          }
          #closeMenu {
            display: block;
            color: var(--white);
            position: absolute;
            top: 48px;
            right: 24px;
          }
        }
      }
    }

    .container {
      height: 100%;
      width: 100%;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        display: none;
      }

      section {
        height: 100%;
        width: 100%;
        flex-shrink: 0;
        border-radius: 16px;
        scroll-snap-align: start;
        justify-content: center;
      }
      #hero {
        // background: url("../images/tech.jfif");
        // background-position: center;
        // background-size: cover;
        // background-repeat: no-repeat;
        background: url("../images/tech.jfif") center/cover no-repeat;
        padding: 96px 96px;
        align-items: last baseline;
        h1 {
          width: 50%;
          color: var(--white);
          text-shadow: var(--text-shadow);
        }
        .paragraph {
          padding: 8px 16px;
          border-radius: 8px;
          background: var(--tint);
          // backdrop-filter: blur(50px);
          width: 50%;
          align-items: flex-start;
          p {
            color: var(--white);
            text-shadow: var(--text-shadow);
          }
        }
        @media (max-width: 768px) {
          flex-direction: column;
          padding: 24px;
          align-items: first baseline;
          gap: 48px;
          h1,
          .paragraph {
            width: 100%;
          }
        }
      }
      #about {
        gap: 5%;
        .left,
        .right {
          height: 100%;
          width: 50%;
          border-radius: 16px;
          padding: 16px;
        }
        .left {
          // width: 40%;
          background: url("../images/building.jfif") center/cover no-repeat;
        }
        .right {
          // width: 60%;
          // border: 1px solid var(--black);
          justify-content: center;
          gap: 15%;
          position: relative;
          img {
            width: 90%;
            opacity: 0.1;
            z-index: -1;
            position: absolute;
            top: 50%;
            transform: translateY(-45%);
          }
          .fieldwrapper {
            width: 100%;
            align-items: flex-start;
            // border: 1px solid var(--brown);
            border-radius: 8px;
            .title {
              gap: 8px;
            }
            p {
              max-width: 90%;
              padding-left: 48px;
            }
          }
        }
        @media (max-width: 768px) {
          position: relative;
          .left,
          .right {
            width: 100%;
            height: 100%;
          }
          .left {
            position: absolute;
          }
          .right {
            justify-content: flex-end;
            padding-bottom: 5vh;
            background: linear-gradient(#00000000, #19191ead, #19191e);
            gap: 5vh;
            * {
              color: var(--white);
              text-shadow: var(--text-shadow);
            }
            img {
              display: none;
            }
            .fieldwrapper {
              gap: 1vh;
              // .title{}
              p {
                max-width: 100%;
                padding-left: 5%;
              }
            }
          }
        }
      }
      #services {
        .servicesContainer {
          width: 100%;
          height: 100%;
          overflow-x: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
          scroll-snap-type: x mandatory;
          scroll-behavior: smooth;
          .service {
            width: 100%;
            height: 100%;
            padding: 32px 96px;
            flex-shrink: 0;
            scroll-snap-align: start;
            gap: 16px;
            * {
              // border: 1px solid var(--black);
              border-radius: 8px;
            }
            img,
            .desc {
              height: 100%;
              width: 50%;
            }
            img {
              order: 2;
              border: 2px solid var(--white);
              box-shadow: 0px 5px 10px 0px var(--black);
              object-fit: cover;
            }
            .desc {
              order: 1;
              align-items: flex-start;
              padding: 24px 32px;
              h1 {
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                // border: none;
              }
              h2 {
                width: 60%;
              }
              p {
                width: 75%;
                height: calc((var(--font-size) * 1.4) * 7);
              }
            }
            @media (max-width: 768px) {
              flex-direction: column;
              padding: 32px 16px;
              position: relative;
              gap: 10vh;
              img,
              .desc {
                width: 100%;
                height: 50%;
              }
              img {
                order: 1;
              }
              .desc {
                order: 2;
                padding: 0;
                h1 {
                  position: absolute;
                  top: 8px;
                  left: 8px;
                  background-color: var(--white);
                  height: calc(
                    var(--font-size) * var(--golden-ratio) * var(--golden-ratio)
                  );
                  width: calc(
                    var(--font-size) * var(--golden-ratio) * var(--golden-ratio)
                  );
                  font-size: calc(var(--font-size) * var(--golden-ratio));
                  border: 1px solid var(--black);
                }
                h2,
                p {
                  width: 100%;
                }
              }
            }
          }
        }
      }
      #contact {
        // border: 1px solid var(--black);
        overflow: hidden;
        justify-content: flex-start;
        gap: 16px;
        .cards {
          width: 80%;
          // border: 1px solid var(--black);
          height: 70%;
          justify-content: center;
          padding: 16px 0;
          gap: 48px;

          .card {
            height: 100%;
            width: calc(33.3% - 32px);
            border: 1px solid var(--black);
            border-top: 10px solid var(--brown);
            border-radius: 16px;
            padding: 16px 32px;
            box-shadow: 10px 10px 20px 0px #46464656;

            .heading {
              height: 30%;
              gap: 8px;
            }

            p {
              height: 55%;
            }
            .cardButton {
              width: 100%;
            }
            &:nth-child(1),
            &:nth-child(3) {
              .cardButton {
                background-color: transparent;
                color: var(--black);
                border: 1px solid var(--brown);
                &:hover {
                  background-color: var(--brown);
                  color: var(--white);
                }
              }
            }
          }
        }
        .footer {
          width: 100%;
          height: 25%;
          background-color: var(--black);
          justify-content: center;

          .links {
            gap: 48px;
            a {
              color: var(--white);
              font-size: 14px;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .socialMedia {
            align-items: last baseline;
            img {
              height: 20px;
              padding-right: 32px;
            }
            a {
              color: var(--white);
              font-size: 24px;
            }
          }
          .copyright {
            color: var(--white);
            font-size: 14px;
            text-transform: capitalize;
          }
        }
        @media (max-width: 768px) {
          * {
            display: none;
          }
          h1,
          .p {
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
}
