/*import Bai Jamjuree font from google*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* breakpoints to ensure resonsiveness across different screen sizes.*/
/*universal properties to be used across the page*/
:root {
  --black: #19191e;
  --white: #fff0e6;
  --brown: #7d5647;
  --tint: #141414a1;
  --font-size: 16px;
  --golden-ratio: 1.618;
  /*to ensure consistent an uniform distribution of font sizes*/
  --text-shadow: 3px 3px 5px #141414;
}

/* universal styles that apply to all elements*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
  font-family: "Bai Jamjuree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* row and column classes that can be re-used universally across the DOM for easier arrangement of elements */
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

h1 {
  text-transform: capitalize;
  font-size: calc(var(--font-size) * var(--golden-ratio) * var(--golden-ratio));
  font-weight: 700;
}

h2 {
  text-transform: capitalize;
  font-size: calc(var(--font-size) * var(--golden-ratio));
  font-weight: 500;
}

a,
button,
p {
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 1.4);
  font-weight: 300;
}

a {
  text-transform: capitalize;
  text-decoration: none;
}

.button,
button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #7d5647;
  color: var(--white);
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  font-weight: 400;
}
.button:hover,
button:hover {
  background-color: #6d4b3e;
}

html {
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
html .body {
  height: 100%;
  width: 100%;
  padding: 16px 16px;
  overflow: hidden;
  background-color: var(--white);
  justify-content: flex-start;
  position: relative;
}
html .body .header {
  width: 100%;
  align-items: last baseline;
  justify-content: space-between;
}
html .body .header img {
  height: 36px;
}
html .body .header #menuButton {
  display: none;
  cursor: pointer;
}
html .body .header nav {
  height: 100%;
  gap: 48px;
}
html .body .header nav #closeMenu {
  display: none;
}
@media (max-width: 768px) {
  html .body .header img {
    height: 24px;
  }
  html .body .header #menuButton {
    display: block;
  }
  html .body .header nav {
    display: none;
  }
  html .body .header .openMenu {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: var(--black);
    justify-content: center;
    padding-bottom: 25vh;
    gap: 24px;
  }
  html .body .header .openMenu a {
    color: var(--white);
    font-size: calc(var(--font-size) * var(--golden-ratio));
    font-weight: 100;
  }
  html .body .header .openMenu #closeMenu {
    display: block;
    color: var(--white);
    position: absolute;
    top: 48px;
    right: 24px;
  }
}
html .body .container {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
html .body .container::-webkit-scrollbar {
  display: none;
}
html .body .container section {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  border-radius: 16px;
  scroll-snap-align: start;
  justify-content: center;
}
html .body .container #hero {
  background: url("../images/tech.jfif") center/cover no-repeat;
  padding: 96px 96px;
  align-items: last baseline;
}
html .body .container #hero h1 {
  width: 50%;
  color: var(--white);
  text-shadow: var(--text-shadow);
}
html .body .container #hero .paragraph {
  padding: 8px 16px;
  border-radius: 8px;
  background: var(--tint);
  width: 50%;
  align-items: flex-start;
}
html .body .container #hero .paragraph p {
  color: var(--white);
  text-shadow: var(--text-shadow);
}
@media (max-width: 768px) {
  html .body .container #hero {
    flex-direction: column;
    padding: 24px;
    align-items: first baseline;
    gap: 48px;
  }
  html .body .container #hero h1,
  html .body .container #hero .paragraph {
    width: 100%;
  }
}
html .body .container #about {
  gap: 5%;
}
html .body .container #about .left,
html .body .container #about .right {
  height: 100%;
  width: 50%;
  border-radius: 16px;
  padding: 16px;
}
html .body .container #about .left {
  background: url("../images/building.jfif") center/cover no-repeat;
}
html .body .container #about .right {
  justify-content: center;
  gap: 15%;
  position: relative;
}
html .body .container #about .right img {
  width: 90%;
  opacity: 0.1;
  z-index: -1;
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
}
html .body .container #about .right .fieldwrapper {
  width: 100%;
  align-items: flex-start;
  border-radius: 8px;
}
html .body .container #about .right .fieldwrapper .title {
  gap: 8px;
}
html .body .container #about .right .fieldwrapper p {
  max-width: 90%;
  padding-left: 48px;
}
@media (max-width: 768px) {
  html .body .container #about {
    position: relative;
  }
  html .body .container #about .left,
  html .body .container #about .right {
    width: 100%;
    height: 100%;
  }
  html .body .container #about .left {
    position: absolute;
  }
  html .body .container #about .right {
    justify-content: flex-end;
    padding-bottom: 5vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(25, 25, 30, 0.6784313725), #19191e);
    gap: 5vh;
  }
  html .body .container #about .right * {
    color: var(--white);
    text-shadow: var(--text-shadow);
  }
  html .body .container #about .right img {
    display: none;
  }
  html .body .container #about .right .fieldwrapper {
    gap: 1vh;
  }
  html .body .container #about .right .fieldwrapper p {
    max-width: 100%;
    padding-left: 5%;
  }
}